<div class="navbar navbar-fixed-top" >
    <div class="navbar-inner">
        <div class="container">

            <a class="brand" href="#">Store Assignment</a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li class="add-menu"><a href="#stores/add"><i class="icon-edit icon-white"></i> Add Store</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>
