<a href="#stores/<%= id %>" class="thumbnail plain">
    <img src="pics/<%= picture %>" height="150" width="125" alt="">
    <h5><%= maplocation %></h5>
    <p><%= productRange %> <%= storeHours %><br/>
	<i class="icon-globe"></i></p>
</a>
