<div class="row">

    <form class="form-horizontal span12">


        <fieldset>
            <div class="row">
				<div class="span3">
                    <div class="well">
                        <p><img id="picture" width="100%" src="<%= picture === null ? 'pics/generic.jpg' : 'pics/' + picture %>"/></p>

                        <p>To change the picture, drag a new picture from your file system onto the box above.</p>
                    </div>
                </div>
				<div id="lowerhalf">
					<div class="span9">
	 
						<div class="control-group">
							<label for="description" class="control-label">AboutUs:</label>

							<div class="controls">
								<textarea id="description" name="description" class="span6" rows="6"><%= description %></textarea>
							</div>
						</div>
						<div class="control-group">
							<label for="name" class="control-label">Product Range:</label>

							<div class="controls">
								<input type="text" id="productRange" name="productRange" value="<%= productRange %>"/>
								<span class="help-inline"></span>
							</div>
						</div>

						<div class="control-group">
							<label for="grapes" class="control-label">Images:</label>

							<div class="controls">
                        		<img id="pictures" width="60px" height="50px" src="<%= picture === null ? 'pics/generic.jpg' : 'pics/' + picture1 %>"/>
                        		<img id="pictures" width="60px" height="50px" src="<%= picture === null ? 'pics/generic.jpg' : 'pics/' + picture2 %>"/>
                        		<img id="pictures" width="60px" height="50px" src="<%= picture === null ? 'pics/generic.jpg' : 'pics/' + picture3 %>"/>
								<span class="help-inline"></span>
							</div>
						</div>
						<div id="dialog" class="window">
							<img src="" alt="Image" />
						</div> 

					</div>

					<div class="span10">
	 
						<div class="control-group">
							<label for="description" class="control-label">StoreHours:</label>

							<div class="controls">
								<textarea id="storeHours" name="storeHours" class="span6" rows="6"><%= storeHours %></textarea>
							</div>
						</div>

						<div class="control-group">
							<label for="grapes" class="control-label">Maps:</label>

							<div class="controls">
								<input type="text" id="location" name="location" value="<%= maplocation %>"/>
								<span class="help-inline"></span>
							</div>
							<div id="mapView">
							</div>
						</div>
	 				</div>
				</div>
				
                

            </div>

        </fieldset>

        <div class="form-actions">
            <a href="#" class="btn btn-primary save">Save</a>
            <a href="#" class="btn delete">Delete</a>
        </div>

    </form>

</div>

<div class="row status-bar">
    <div class="span12">
        <div class="alert alert-success" style="display: none">
            <b>Success!</b> Store saved successfully
        </div>
    </div>
</div>


